<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>131191702464-aa2ssi47qdverslkq30q5s1friosebjm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.131191702464-aa2ssi47qdverslkq30q5s1friosebjm</string>
	<key>API_KEY</key>
	<string>AIzaSyBj5gkCYE5xj3mOH7YTLU7ZjKefOPBwcJw</string>
	<key>GCM_SENDER_ID</key>
	<string>131191702464</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sendbird.chat.reactnative.sample</string>
	<key>PROJECT_ID</key>
	<string>sendbird-f1e53</string>
	<key>STORAGE_BUCKET</key>
	<string>sendbird-f1e53.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:131191702464:ios:6961a2e812bf8eae397e25</string>
</dict>
</plist>